<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="date" content="<%= date %>" />
    <title>Singularity</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
  </head>
  <body class="p-5">
    <ul>
      <li><a class="underline text-blue-700" href="/endpoints/netflix">Netflix</a></li>
      <li><a class="underline text-blue-700" href="/endpoints/spotify">Spotify</a></li>
      <li><a class="underline text-blue-700" href="/endpoints/uber">Uber</a></li>
      <li><a class="underline text-blue-700" href="/endpoints/airbnb">Airbnb</a></li>
      <li><a class="underline text-blue-700" href="/endpoints/instagram">Instagram</a></li>
      <li><a class="underline text-blue-700" href="/endpoints/stripe">Stripe</a></li>
    </ul>
  </body>
</html>
