<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title th:text="${tenant} + '/' + ${service}">tenant/service</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
  </head>
  <body>
    <div class="flex p-2 text-blue-700">
      <div class="flex-1">
        <a class="px-2 hover:underline" th:href="@{''(page=0,sort='id,DESC')}">Start</a>
        <a class="px-2 hover:underline" th:if="${page.hasPrevious()}" th:href="@{''(page=${page.number - 1},sort='id,DESC')}">Previous</a>
      </div>
      <div class="flex text-center text-gray-500 text-sm">
        <h1 class="mr-5 font-bold" th:text="${tenant} + '/' + ${service}">Users</h1>
        <span th:text="${'Page ' + page.number + ' of ' + page.totalPages}">0</span>
      </div>
      <div class="flex-1 text-right">
        <a class="px-2 hover:underline" th:if="${page.hasNext()}" th:href="@{''(page=${page.number + 1},sort='id,DESC')}">Next</a>
        <a class="px-2 hover:underline" th:href="@{''(page=${page.totalPages - 1},sort='id,DESC')}">End</a>
      </div>
    </div>
    <table class="table-auto w-full text-xs font-mono">
      <thead>
        <tr>
          <th class="text-left bg-white border border-grey-500 p-2" style="width: 200px">T</th>
          <th class="text-left bg-white border border-grey-500 p-2" style="width: 80px">Code</th>
          <th class="text-left bg-white border border-grey-500 p-2">Response</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="entry: ${page.content}">
          <td class="border border-grey-500 p-2 font-medium" th:text="${entry.timestamp}"></td>
          <td class="border border-grey-500 p-2 font-medium" th:text="${entry.code}"></td>
          <td class="border border-grey-500 p-2 font-medium" th:text="${entry.body}"></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
