<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${tenant}">tenant/endpoints</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
  </head>
  <body>
    <div class="p-5 w-min mx-auto my-5">
      <h1 th:text="${tenant}" class="text-3xl mb-5">Title</h1>
      <table class="table-auto">
        <thead>
          <tr>
            <th class="border border-grey-500 p-2">Status</th>
            <th class="border border-grey-500 p-2">Service</th>
            <th class="border border-grey-500 p-2">Url</th>
            <th class="border border-grey-500 p-2">Logs</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="endpoint: ${endpoints}">
            <td class="border border-grey-500 p-2 font-medium">
              <button
                th:id="'btnActive[' + ${endpoint.id} + ']'"
                th:unless="${endpoint.active}"
                th:data-active="${endpoint.active}"
                th:data-service="${endpoint.id}"
                onclick="onActiveClick(event)"
                type="button"
                class="bg-red-500 hover:bg-red-700 w-16 mx-2 py-2 px-4 text-white font-semibold rounded-lg shadow-md focus:outline-none"
              >
                Off
              </button>
              <button
                th:id="'btnActive[' + ${endpoint.id} + ']'"
                th:if="${endpoint.active}"
                th:data-active="${endpoint.active}"
                th:data-service="${endpoint.id}"
                onclick="onActiveClick(event)"
                type="button"
                class="bg-green-500 hover:bg-green-700 w-16 mx-2 py-2 px-4 text-white font-semibold rounded-lg shadow-md focus:outline-none"
              >
                On
              </button>
            </td>
            <td class="border border-grey-500 p-2 font-medium" th:text="${endpoint.id}">users</td>
            <td class="border border-grey-500 p-2 font-medium">
              <input
                type="text"
                th:id="'txtUrl[' + ${endpoint.id} + ']'"
                th:value="${endpoint.url}"
                th:data-service="${endpoint.id}"
                class="border border-gray-100 px-3 py-2 w-96"
                onblur="onUrlBlur(event)"
                onkeypress="onUrlKeyPress(event)"
                onpaste="onUrlPaste(event)"
              />
            </td>
            <td class="border border-grey-500 p-2 font-medium">
              <a
                href="logs"
                th:href="@{{tenant}/{id}/logs(tenant=${tenant},id=${endpoint.id},page=0,sort='id,DESC')}"
                class="text-blue-500 underline"
                target="_blank"
                >Logs</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <script th:inline="javascript">
      window.config = window.config || {};
      window.config.tenant = /*[[${tenant}]]*/ "none";
    </script>
    <script>
      function handleResponse(response) {
        if (response.status >= 200 && response.status < 300) {
          return response.json();
        } else {
          var error = new Error(response.statusText);
          error.response = response;
          throw error;
        }
      }

      function refreshActiveButton(service, active) {
        const target = document.getElementById(`btnActive[${service}]`);
        if (!target) {
          console.error("Unable to find btnActive for", service);
          return;
        }
        if (target.dataset.active === active.toString()) {
          return;
        }
        target.setAttribute("data-active", active.toString());
        target.textContent = active ? "On" : "Off";
        target.classList.toggle("bg-red-500", !active);
        target.classList.toggle("hover:bg-red-700", !active);
        target.classList.toggle("bg-green-500", active);
        target.classList.toggle("hover:bg-green-700", active);
      }

      function refreshUrlText(service, url) {
        const target = document.getElementById(`txtUrl[${service}]`);
        if (!target) {
          console.error("Unable to find txtUrl for", service);
          return;
        }
        if (target.value !== url && target !== document.activeElement) {
          target.value = url;
        }
      }

      setInterval(() => {
        fetch(`/v1/${config.tenant}/endpoints`)
          .then(handleResponse)
          .then((endpoints) =>
            endpoints.forEach(({ id, active, url }) => {
              refreshActiveButton(id, active);
              refreshUrlText(id, url);
            })
          );
      }, 5000);

      function onActiveClick({ target }) {
        const service = target.dataset.service;
        const active = target.dataset.active === "true";
        const method = !active ? "activate" : "deactivate";

        fetch(`/v1/${config.tenant}/endpoints/${service}/${method}`, { method: "POST" })
          .then(handleResponse)
          .then(({ active }) => refreshActiveButton(service, active))
          .catch((e) => alert(`Unable to enable service "${service}".`));
      }

      function changeUrl(service, url) {
        fetch(`/v1/${config.tenant}/endpoints/${service}/url`, { method: "POST", body: (url || "").trim() })
          .then(handleResponse)
          .catch((e) => alert(`Unable to change "${service}" URL.`));
      }

      function onUrlBlur(event) {
        const service = event.target.dataset.service;
        changeUrl(service, event.target.value);
      }

      function onUrlKeyPress(event) {
        const service = event.target.dataset.service;
        event.keyCode === 13 && changeUrl(service, event.target.value);
      }

      function onUrlPaste(event) {
        const service = event.target.dataset.service;
        const url = (event.clipboardData || window.clipboardData).getData("text");
        changeUrl(service, url);
      }
    </script>
  </body>
</html>
